*{
    margin: 0;
    padding: 0;
}

.div-pai{
    display: grid;
    grid-template-rows: auto 90vh 5vh; /* 90% de altura da minha área visível. */
}

header{
    background: rgb(148, 206, 61);
    display: grid;
    grid-template-columns: 175px 1fr;
    justify-items: end;
    align-items: center;
}

.imagem-logo{
    width: 175px;
}

button{
    margin-right: 2pc;
    padding: 2px 5pc 2pc 5pc;
}

.meio{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.Menu{
    background: pink;
}

.principal{
    background: rgb(139, 151, 139);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;    
    gap: 5px;
}
 
.card{
    display:grid;
    grid-template-rows: auto 1fr;
    justify-items: center;    
}

.img-card{
    width: 100px;
}

.card h2{
    font-size: 10px;
}

.rodape{
    background: rgb(148, 206, 61)
}