*{
    margin: 0;
    padding: 0;
}

header{
    background: rgb(148, 206, 61);
    display: grid;
    grid-template-columns: 175px 1fr;
    justify-items: end;
    align-items: center;
}

.imagem-logo{
    width: 175px;
}

button{
    margin-right: 2pc;
    padding: 2px 5pc 2pc 5pc;
}
