*{
    margin: 0;
    padding: 0;   
}

.div-pai{
    display: grid;
    grid-template-rows: auto 90vh 5vh;
    grid-template-columns: 1fr 5fr 1fr;
    /* Define posicionamento dos itens no grid
       de acordo com os grid-area de cada elemento filho */
    grid-template-areas:"head head head"
                        "n1 main n2"
                        "foot foot foot";
}

header{
    background: orange;
    display: grid;
    grid-template-columns:175px 1fr ;
    justify-items: end;
    align-items: center;
    grid-area: head; /*defife id do grid-area */
}
.imagem-logo{
    width: 175px
}
button{
    margin-right: 10px;
    padding: 2px 5px 2px 5px;
}

.menu{
    background: pink;
}
#nav-1{
    grid-area: n1; /*defife id do grid-area */
}
#nav-2{
    grid-area: n2; /*defife id do grid-area */
}
.principal{
    background: rgb(251, 251, 162);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    align-items:center ;
    gap:5px;
    grid-area: main; /*defife id do grid-area */
}

.card{
    background: rgb(182, 0, 30);
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

.img-card{
    width: 100px;
}
.card h2{
    font-size: 20px;
}
.rodape{
    grid-area: foot;
    background: orange;   
}


